body {
    height: auto;
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(img/La\ biblia.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    

}

header {
    background-color: rgba(139, 90, 43,0.6);
    color: white;
    text-align: center;  
    display: flex;
    align-items: center; 
    padding: 25px;
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 90px 90px;
    justify-content: center;
}

img {
    height: 100vh;
    width: 100px;
}

#title {
    margin: 0%;
    align-items: center;
    font-size: 50px;
    text-align: center;
}

h2, h3 {
    text-shadow: 6px 3px 3px black;
}

form {
    color: white;
    text-shadow: 6px 3px 3px black;
}

#juan {
    text-transform: uppercase;
    color: white;
    text-shadow: 6px 3px 3px black;
    font-size: 25px;
}
 #des {
    color: black;
 }

a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: rgba(139, 90, 43,0.6);
}

nav {
    background-color: #333;
    overflow: hidden;
    
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

main {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    padding: 1rem;
}

article {
    flex: 3;
    padding: 1rem;
    
}


aside {
    flex: 1;
    padding: 1rem;
    background-color: rgba(139, 90, 43,0.6);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}
footer > span {
    font-size: small;
}
nav > button{
    color:#4CAF50
}
.articleMain{
    color:white
}
/*movil vertical*/
@media (max-width: 768px) {
    header {
        background-size: 70px 70px;
    }
    
    #title {
        font-size: 25px;
    }

    #juan {
        font-size: 12px;
    }

    body {
        font-size: 12px
    };

    nav a {
        float: none;
        width: 100%;
    }

    main {
        flex-direction: column;
    }

    article,
    aside {
        flex: 1;
        margin: 0.5rem 0;
    }
}

/* Móviles (Horizontal) */
@media (min-width: 481px) and (max-width: 767px) {
    #title {
        font-size: 25px;
    }

    #juan {
        font-size: 12px;
    }

    body {
        font-size: 12px
    };

    nav a {
        float: none;
        width: 100%;
    }

    main {
        flex-direction: column;
    }

    article,
    aside {
        flex: 1;
        margin: 0.5rem 0;
    }
}
